---
import Layout from '../layouts/Layout.astro';
import ProfileImage from '../components/ProfileImage.astro';
import TextBlock from '../components/TextBlock.astro';
---

<Layout title="Sobre m铆">
  <main>
    <!-- Secci贸n de perfil -->
    <section class="mt-16">
      
      <div>
        
        </p>
        <TextBlock
          title="Cesar Banegas"
          subtitle= "锔 Desarrollador Backend en proceso "
          content="Desarrollador backend apasionado por crear soluciones eficientes. Me enfoco en el an谩lisis de datos, la creaci贸n de microservicios y el manejo de bases de datos. Busco optimizar procesos empresariales mediante la automatizaci贸n, uno de mis objetivos es contribuir al crecimiento de peque帽as y medianas empresas de mi pais."
          alignment="center"
          titleSize="large"
          imageUrl='/img/profile-me(edit).webp'

        />
      </div>
    </section>

    <!-- Secci贸n de descripci贸n -->
    <section class="mt-16">
      <TextBlock
        title="Sobre mi trabajo"
        content="Me dedico a la creaci贸n de soluciones backend utilizando tecnolog铆as como Python, Java y bases de datos relacionales. Mi enfoque est谩 en la mejora continua y el desarrollo de software eficiente para resolver problemas empresariales."
        alignment="center"
        titleSize="large"
      />
    </section>
  </main>
</Layout>
