@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

  :root {
    --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  html {
    font-family: var(--font-sans);
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	h2 {
		font-size: 2.5rem; /* Ajusta el tamaño según tu diseño */
		font-weight: 600; /* Menos pesado que h1 para diferenciar jerarquía */
		line-height: 1.2; /* Un poco más alto que h1 para mejorar la legibilidad */
		text-align: center; /* Centra el texto, similar a h1 */
		margin-bottom: 0.75em; /* Espaciado inferior menor que en h1 */
		color: #4a4a4a; /* Color más suave, ajustable según el tema */
	}
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}


  
/* Estilos de los proyectos individuales */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}



.project-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

span {
    font-size: 0.9rem;
    color: #66fcf1;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }

    .project-card {
        width: 100%;
    }
}
  